<!DOCTYPE html>

<html lang="en">
<head>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/tailwind.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/material.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Space+Mono:700" rel="stylesheet">
    <title>Sergiu's CV &#x1F60E;</title>
    <meta name="theme-color" content="#D3D3D3">
    <meta name="description" content="Probably the most up to date Curriculum vitae of Sergiu-Ionut Suciu"/>
</head>
  <body class="top">
     {{ content }}

    <script src='{{ "/assets/js/materialize.min.js" | relative_url }}'></script>
    <script src='{{ "/assets/js/jquery.js" | relative_url }}'></script>
    <script src='{{ "/assets/js/main.js" | relative_url }}'></script>
    <script src='{{ "/assets/js/typer.js" | relative_url }}'></script>
  </body>
</html>