<!DOCTYPE html>

<html lang="en">
<head>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/tailwind.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

    <title>Sergiu's CV &#x1F60E;</title>
    <meta name="theme-color" content="#D3D3D3">
    <script>
      (function(h,e,a,t,m,p) {
      m=e.createElement(a);m.async=!0;m.src=t;
      p=e.getElementsByTagName(a)[0];p.parentNode.insertBefore(m,p);
      })(window,document,'script','https://u.heatmap.it/log.js');
      </script>
</head>
  <body class="black-bg">
     {{ content }}
  </body>
</html>